@use "./icons";
@use "./../base";
@use "./../abstracts" as *;

$default-color: #757575;

.combobox {
    $light-text-color: $secondary-color;
    $dark-text-color: $accent-color;
    $font-mobile: $text-sm;
    $font-desktop: $text-lg;

    color: light-dark($light-text-color, $dark-text-color);
    border: 1px solid currentColor;
    display: inline-flex;
    @include rounded();
    font-size: $font-mobile;

    @include flex-container(row nowrap justify-center, inline-flex);

    @media (min-width: 1024px) {
        font-size: $font-desktop;
    }

    @include relative-container(svg) {
        &:nth-of-type(1) {
            left: $spacing-base;
        }
        &:nth-of-type(2) {
            right: $spacing-base;
        }
    }
    // svg {
    //     position: absolute;
    //     top: 50%;
    //     translate: 0 -50%;
    //     pointer-events: none;

    //     &:nth-of-type(1) {
    //         left: $spacing-base;
    //     }
    //     &:nth-of-type(2) {
    //         right: $spacing-base;
    //     }
    // }

    label {
        @include a11y-hidden;
    }

    select {
        color: inherit;
        appearance: none;
        border: 0;
        padding: $spacing-base $spacing-5xl;
        background-color: transparent;
    }
}

// .language-select-box {
//     border: 1px solid $default-color;
//     color: $default-color;
//     border-radius: 5px;
//     appearance: none;
//     padding: 10px 40px;
//     background-image: url("/src/assets/icon/global.svg"), url("/src/assets/icon/triangle.svg"); /* 왼쪽, 오른쪽 아이콘 */
//     background-repeat: no-repeat;
//     background-position: 10px center, right 10px center; /* 왼쪽 아이콘은 왼쪽, 오른쪽 아이콘은 오른쪽 */
//     background-size: 20px 20px, 15px 15px; /* 아이콘 크기 조정 */
//     outline: none;

//     &:focus {
//         border: 3px solid #2ede75;
//     }
// }
