<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Select</title>
        <link rel="stylesheet" href="/src/styles/main.css" />
        <link rel="preconnect" href="https://cdn.jsdelivr.net" crossorigin="anonymous" />
        <link rel="preload" as="style" crossorigin href="https://cdn.jsdelivr.net/gh/sun-typeface/SUIT@2/fonts/variable/woff2/SUIT-Variable.css" />
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/sun-typeface/SUIT@2/fonts/variable/woff2/SUIT-Variable.css" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" />
        <link rel="stylesheet" href="/src/styles/main.css" />
    </head>
    <body>
        <div class="container">
            <main class="main">
                <div class="product-list">
                    <!-- iPad Pro -->
                    <article class="product-card dark-bg ipad-pro">
                        <h2 class="product-card__headline">iPad Pro</h2>
                        <p class="product-card__description"><span>놀라우리만치 얇다.</span> <span>엄청나게 강력하다.</span></p>
                        <p class="product-card__release">출시일 추후 공개</p>
                        <div class="product-card__links">
                            <a href="/" class="button button--rounded button--fill">더 알아보기</a>
                            <a href="/" class="button button--rounded button--outline">가격 보기</a>
                        </div>
                    </article>

                    <!-- iPad Air -->
                    <article class="product-card ipad-air">
                        <h2 class="product-card__headline">iPad air</h2>
                        <p class="product-card__description line-break">
                            <span>두 가지 사이즈. 더 빠른 칩.</span>
                            <span>무엇이든 거뜬하게.</span>
                        </p>
                        <p class="product-card__release" hidden>출시일 추후 공개</p>
                        <div class="product-card__links">
                            <a href="/" class="button button--rounded button--fill">더 알아보기</a>
                            <a href="/" class="button button--rounded button--outline">가격 보기</a>
                        </div>
                    </article>

                    <!-- iPhone 15 Pro -->
                    <article class="product-card dark-bg iphone15-pro">
                        <h2 class="product-card__headline">iPhone 15 Pro</h2>
                        <p class="product-card__description"><span>티타늄. 초강력.</span> <span>초경량. 초프로.</span></p>
                        <p class="product-card__release" hidden>출시일 추후 공개</p>
                        <div class="product-card__links">
                            <a href="/" class="button button--rounded button--fill">더 알아보기</a>
                            <a href="/" class="button button--rounded button--outline">가격 보기</a>
                        </div>
                    </article>

                    <!-- iPhone 15 -->
                    <article class="product-card iphone15">
                        <h2 class="product-card__headline">iPhone 15</h2>
                        <p class="product-card__description line-break">
                            <span>새로운 카메라.</span> <span>새로운 디자인.</span>
                            <span>새로움이 물씬.</span>
                        </p>
                        <p class="product-card__release" hidden>출시일 추후 공개</p>
                        <div class="product-card__links">
                            <a href="/" class="button button--rounded button--fill">더 알아보기</a>
                            <a href="/" class="button button--rounded button--outline">가격 보기</a>
                        </div>
                    </article>

                    <!-- Apple Watch -->
                    <article class="product-card dark-bg apple-watch">
                        <h2 class="product-card__headline">WATCH</h2>
                        <p class="product-card__description">
                            <span>보다 똑똑.</span> <span>보다 또렷.</span>
                            <span>보다 강력.</span>
                        </p>
                        <p class="product-card__release" hidden>출시일 추후 공개</p>
                        <div class="product-card__links">
                            <a href="/" class="button button--rounded button--fill">더 알아보기</a>
                            <a href="/" class="button button--rounded button--outline">가격 보기</a>
                        </div>
                    </article>

                    <!-- MacBook Air -->
                    <article class="product-card macbook-air">
                        <h2 class="product-card__headline">MacBook Air</h2>
                        <p class="product-card__description"><span>날렵하게.</span> <span>강력하게.</span> <span>M3답게.</span></p>
                        <p class="product-card__release" hidden>출시일 추후 공개</p>
                        <div class="product-card__links">
                            <a href="/" class="black button button--rounded button--fill">더 알아보기</a>
                            <a href="/" class="black button button--rounded button--outline">가격 보기</a>
                        </div>
                    </article>

                    <!-- Airpods Pro -->
                    <article class="product-card dark-bg airpods-pro">
                        <h2 class="product-card__headline">AirPods Pro</h2>
                        <p class="product-card__description line-break"><span>전에 없던 청취 경험.</span> <span>적응형 오디오.</span></p>
                        <p class="product-card__release" hidden>출시일 추후 공개</p>
                        <div class="product-card__links">
                            <a href="/" class="button button--rounded button--fill">더 알아보기</a>
                            <a href="/" class="button button--rounded button--outline">가격 보기</a>
                        </div>
                    </article>
                </div>
            </main>
        </div>
    </body>
</html>
