%error {
    color: #bf2243;
    font-size: 0.875rem;

    &--serious {
        @extend %error;
        font-weight: bold;
    }
}

.error-400 {
    @extend %error;
    font-weight: 400;
}

.error-700 {
    @extend %error;
    font-weight: 700;
}

.error-900 {
    @extend %error;
    font-weight: 900;
}
