@mixin width($width) {
    width: $width;
    inline-size: $width;
}

@mixin resetList() {
    margin: 0;
    padding: 0;
    list-style: none;
}

@mixin flexbox($direction: row, $justify: start, $align: center, $wrap: nowrap, $content: center) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
    flex-wrap: $wrap;
    align-content: $content;
}

@mixin hover() {
    &:hover {
        background-color: palevioletred;
        color: white;
        @content;
    }
}

@mixin mobile() {
    @media (max-width: 768px) {
        @content;
    }
}

@mixin desktop() {
    @media (min-width: 768px) {
        @content;
    }
}

@mixin mq($type) {
    @if $type == "mobile" {
        @include mobile() {
            @content;
        }
    } @else if $type == "desktop" {
        @include desktop() {
            @content;
        }
    } @else {
        @error "Invalid media query type";
    }
}

.box {
    padding: 3px;
    @include mq("mobile") {
        padding: 10px;
    }
    @include mq("desktop") {
        padding: 20px;
    }
}

div {
    @include flexbox(column, $wrap: wrap);
    @include hover() {
        font-size: 1.25rem;
    }
}

ul {
    background-color: yellow;
    @include resetList;
}

ol {
    font-size: 1.25rem;
    @include resetList();
    @include width(50px);
}
