@mixin size($width, $height: null, $rounded: null) {
    width: $width;
    @if $height != null {
        height: $height;
    } @else {
        height: $width;
    }

    @if $rounded == sm {
        border-radius: 2px;
    } @else if $rounded == md {
        border-radius: 4px;
    } @else if $rounded == lg {
        border-radius: 6px;
    } @else if $rounded == xl {
        border-radius: 8px;
    } @else {
        @error "#{$rounded} 키워드는 유요하지 않습니다.";
    }
}

.box {
    @include size(100px, $rounded: ere);
}
