$base-color: #c56f6f;
$bg-color: #df9029;

body {
    font-size: 1rem;
    color: $base-color;
    background-color: $bg-color;
}

p {
    line-height: 1.5;
    font-weight: 500;
    font-size: 0.875rem;
}

ul {
    list-style: none;
    padding-inline-start: 0;
    margin: 0;

    li {
        margin: 0.5rem;
        border-radius: 15px;
    }
}
