<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Select</title>
        <link rel="stylesheet" href="/src/styles/main.css" />
        <link rel="preconnect" href="https://cdn.jsdelivr.net" crossorigin="anonymous" />
        <link rel="preload" as="style" crossorigin href="https://cdn.jsdelivr.net/gh/sun-typeface/SUIT@2/fonts/variable/woff2/SUIT-Variable.css" />
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/sun-typeface/SUIT@2/fonts/variable/woff2/SUIT-Variable.css" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" />
        <link rel="stylesheet" href="/src/styles/main.css" />
    </head>
    <body>
        <button type="button" class="button button--bars" aria-label="열기">
            <span class="fas fa-bars" aria-hidden="true"></span>
        </button>
        <hr />
        <button type="button" class="button button--close" aria-label="닫기">
            <span class="fas fa-xmark" aria-hidden="true"></span>
        </button>
        <hr />
        <a href="/" class="button button--rounded button--fill">더 알아보기</a>
        <hr />
        <a href="/" class="button button--rounded button--outline">가격 보기</a>
        <hr />
        <button type="button" class="button button--rounded button--fill black">더 알아보기</button>
        <hr />
        <button type="button" class="button button--rounded button--outline black">가격 보기</button>
    </body>
</html>
