<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Select</title>
        <link rel="stylesheet" href="/src/styles/main.css" />
        <link rel="preconnect" href="https://cdn.jsdelivr.net" crossorigin="anonymous" />
        <link rel="preload" as="style" crossorigin href="https://cdn.jsdelivr.net/gh/sun-typeface/SUIT@2/fonts/variable/woff2/SUIT-Variable.css" />
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/sun-typeface/SUIT@2/fonts/variable/woff2/SUIT-Variable.css" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" />
        <link rel="stylesheet" href="/src/styles/main.css" />
        <script type="module" src="./../../js/navigation.js"></script>
    </head>
    <body>
        <div>
            <ul class="menu">
                <li class="menu__item"><a href="/" class="menu__link">스토어</a></li>
                <li class="menu__item"><a href="/" class="menu__link">Mac</a></li>
                <li class="menu__item"><a href="/" class="menu__link">iPad</a></li>
                <li class="menu__item"><a href="/" class="menu__link">iPhone</a></li>
                <li class="menu__item"><a href="/" class="menu__link">Watch</a></li>
                <li class="menu__item"><a href="/" class="menu__link">Airpods</a></li>
                <li class="menu__item"><a href="/" class="menu__link">TV 및 홈</a></li>
                <li class="menu__item"><a href="/" class="menu__link">엔터테인먼트</a></li>
                <li class="menu__item"><a href="/" class="menu__link">액세서리</a></li>
                <li class="menu__item"><a href="/" class="menu__link">고객지원</a></li>
            </ul>
        </div>
    </body>
</html>
